app-version: 1.0.0-SNAPSHOT

//file paths
files: C:\Users\Andrea Rossi\eclipse-workspace\TeamManager\res\files
images: C:\Users\Andrea Rossi\eclipse-workspace\TeamManager\res\images
log: C:\Users\Andrea Rossi\eclipse-workspace\TeamManager\teammanager.log

//teams
team-size: 7
team-balance-factor: 1
team-0-color: 255,96,96
team-1-color: 96,96,255

//xml
default-save-folder: C:\Users\Andrea Rossi\Desktop
default-open-folder: C:\Users\Andrea Rossi\Desktop

//images
font-size: 32